body {
  width: 100%;
  height: 100%;
  background-color: #27272a;
}
.app {
  background-color: #27272a;
  min-height: 100%;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 14px 24px;
  color: #ffffff;
}

.body {
  display: flex;
}

.info {
  flex: 1 1;
}
.info_title {
  
  border-bottom: 1px solid #414144;
}
.info_title h2 {
  display: inline-block;
  padding: 12px 10px 14px 10px;
  border-right: 1px solid #414144;
}
